@media screen and (min-width: 1200px) {
  .header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 110vw;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    border-bottom: 1px solid black;
    background: white;
  }
  .logo {
    position: relative;
    left: 5%;
    height: 40px;
  }
  .right {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(118, 118, 118);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    left: 80%;
    top: 45px;
    z-index: 76;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: top;
  }
  .header-right {
    padding: 0px 5%;
    text-decoration: none;
    color: rgb(118, 118, 118);
  }
  .right a:hover {
    color: blue;
  }

  .bg_border {
    background-image: url("../assets/bg.png");
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100px;
    z-index: 74;
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .logo {
    position: relative;
    left: 5%;
    height: 35px;
  }
  .right {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(118, 118, 118);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    left: 80%;
    top: 45px;
    z-index: 76;
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .header-right {
    padding: 0 5%;
    text-decoration: none;
    color: rgb(118, 118, 118);
  }
  .right a:hover {
    color: blue;
  }
  
  .bg_border {
    background-image: url("../assets/bg.png");
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100px;
    z-index: 74;
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 799px) {
  .header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100px;
    display: flex;
    display:-webkit-flex;
    align-items: center;
  }
  .logo {
    position: relative;
    left: 5%;
    height: 30px;
  }
  #phone {
    display: none;
  }

  #login {
    display: none;
  }

  .right {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(118, 118, 118);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    left: 90%;
    top: 45px;
    z-index: 76;
    display: flex;
    display:-webkit-flex;
    align-items: center;
  }
  .header-right {
    padding: 0 5%;
    text-decoration: none;
    color: rgb(118, 118, 118);
  }
  .right a:hover {
    color: blue;
  }
  .hamburger {
    background-image: url("../assets/hamburger.png");
    position: absolute;
    left: 88%;
    height: 13px;
    z-index: 75;
  }
  .bg_border {
    background-image: url("../assets/bg.png");
    position: fixed;
    left: 0px;
    top: 0px;
    width: 110vw;
    height: 100px;
    z-index: 74;
    border-bottom: 1px solid black;
  }
}